.dist
chromedriver.exe
chromedriver
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
.ipynb_checkpoints
area_csv
user_csv
*.pem

# schini
notsaved.txt
Gangnam_1000_1499
Yongsan
schini_concat.ipynb

# 개인화된 crawling 처리
study
crawling_user_review.ipynb
crawling_rest_server.ipynb
crawling_user_review_failed.ipynb
crawling_user_review.py
crwaling_concat.ipynb
csv_concat.ipynb
__pycache__

# front_end

# dependencies
frontend/node_modules/
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
