.dist
chromedriver.exe
chromedriver
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
.ipynb_checkpoints


# schini
notsaved.txt
Gangnam_1000_1499
Yongsan
crawling_rest_server_auto.ipynb
