.dist
chromedriver.exe
chromedriver
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
.ipynb_checkpoints
*.pem
__pycache__
.vscode
.empty

# schini
schini_concat.ipynb

# 개인화된 crawling 처리
study
crawling_user_review.ipynb
crawling_rest_server.ipynb
crawling_user_review_failed.ipynb
crawling_user_review.py
crawling_get_rest_info.ipynb
crwaling_concat.ipynb
crawling_get_rest_info.ipynb
csv_concat.ipynb
notsaved.txt


# front_end

# dependencies
frontend/node_modules/
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
database/ssl

# data
area_csv
user_csv
backend/app/models/data/
model/data/user/*
model/data/*.csv
tem.ipynb

# model
output/

# poetry
*.toml
poetry*

# DB
*.db
