h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type=checkbox] {
  display: none;
  zoom: 5;
}

input[type=checkbox]+label {
  cursor: pointer;
  padding-left: 23px;
  background-repeat: no-repeat;
}


#c1+label {
  background-image: url('../public/img/1.jpg');
  background-size: cover;
  zoom: 5;
}

#c1:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/1.jpg');
  opacity: 0.7;
}

#c2+label {
  background-image: url('../public/img/2.jpg');
  background-size: cover;
  zoom: 5;
}

#c2:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/2.jpg');
  opacity: 0.7;
}


#c3+label {
  background-image: url('../public/img/3.jpg');
  background-size: cover;
  zoom: 5;
}

#c3:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/3.jpg');
  opacity: 0.7;
}

#c4+label {
  background-image: url('../public/img/4.jpg');
  background-size: cover;
  zoom: 5;
}

#c4:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/4.jpg');
  opacity: 0.7;
}

#c5+label {
  background-image: url('../public/img/5.jpg');
  background-size: cover;
  zoom: 5;
}

#c5:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/5.jpg');
  opacity: 0.7;
}

#c6+label {
  background-image: url('../public/img/6.jpg');
  background-size: cover;
  zoom: 5;
}

#c6:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/6.jpg');
  opacity: 0.7;
}

#c7+label {
  background-image: url('../public/img/7.jpg');
  background-size: cover;
  zoom: 5;
}

#c7:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/7.jpg');
  opacity: 0.7;
}

#c8+label {
  background-image: url('../public/img/8.jpg');
  background-size: cover;
  zoom: 5;
}

#c8:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/8.jpg');
  opacity: 0.7;
}

#c9+label {
  background-image: url('../public/img/9.jpg');
  background-size: cover;
  zoom: 5;
}

#c9:checked+label {
  background-size: cover;
  zoom: 5;
  background-image: url('../public/img/9.jpg');
  opacity: 0.7;
}